<!-- <table class='table table-vertical'>
  <tbody *ngFor='let item of fullData'>
    <tr>
      <th>
        {{item.header}}
      </th>
      <td>
        {{item.data}}
      </td>
    </tr>
  </tbody>
</table> -->

<div class='clr-row'>
  <div class='clr-col-12'>
    <table class='table'>
      <tr>
        <th>Security Data</th>
      </tr>
    </table>
    <table class='table' style='margin-top: 0px'>
      <tbody>
        <tr *ngFor='let item of fullData'>
          <td>
            {{item.header}}
          </td>
          <td>
            {{item.data}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
