<div class="clr-row clr-justify-content-sm-between">
    <div class='clr-col-sm-3'>
        <div *ngIf='quote'>
            <app-quotetable [quoteData]='quoteData'></app-quotetable>
        </div>
    </div>
    <div class='clr-col-sm-6'>
        <div style="text-align:center">
            <h1>ITS THE STOCK APP!!!</h1>
            <br>
            <label for='tickerbox'>Enter Stock Ticker:</label>
            <input type=text name='tickerbox' [(ngModel)]='ticker'>
            <br>
            <br>
            <button type='submit' (click)='getResults()'>Data</button>
            <br>
            <button type='submit' (click)='getQuote()'>Quote</button>
            <br>
            <button type='submit' (click)='newFav()'>Add to Favorites</button>
            <br>
            <p *ngIf='favServ.favError'>{{favServ.favError}}</p>
            <br>
            <button type='submit' (click)='objTest()'>Check Fav List</button>
        </div>
    </div>
    <div class='clr-col-sm-3'>
        <app-favtable [favlist]='favList'></app-favtable>
    </div>
</div>

