<div style="text-align:center">
    <h1>ITS THE STOCK APP!!!</h1>
    <br>
    <p>Test Test</p>
    <br>
    <label for='tickerbox'>Enter Stock Ticker:</label>
    <input type=text name='tickerbox' [(ngModel)]='ticker'>
    <br>
    <button type='submit' (click)='getResults()'>Submit</button>
</div>

<div class="card">
    <p>Test Test</p>
    <div class="card-header">
        Header
    </div>
    <div class="card-block">
        <div class="card-title">
            Block
        </div>
        <div class="card-text">
            ...
        </div>
    </div>
    <div class="card-footer">
        <button class="btn btn-sm btn-link">Footer Action 1</button>
        <button class="btn btn-sm btn-link">Footer Action 2</button>
    </div>
</div>