tr {
  height: 1.75rem;
}

th {
  font-size: 0.71rem;
  line-height: 1rem;
}

clr-icon {
  color:#0079b8;
  font-size:0.67rem;
  height: 24px;
  width: 24px;
}

clr-icon:hover {
  color:white;
  background-color: red;
  border: 1.25px solid #0079b8;
}

.scroll {
  max-height: 11 * 1.75rem;
  overflow: auto;
}

.table td {
  vertical-align: baseline;
  padding: 0.35rem;
  font-size: 0.625rem;
  line-height: 1rem;
}


