<div class="clr-row">
  <div class="clr-col-12">
    <table class="table">
      <tr>
        <th>Favorites</th>
      </tr>
    </table>
    <table class="table" style="margin-top: 0px; border-top: 0px">
      <tbody>
        <tr *ngFor="let item of favList, let i = index;">
            <td  (click)="changeTicker(i)">{{item.ticker}}</td>
            <td *ngIf="item.id">
              <button (click)="deleteTicker(i)">Delete</button>
            </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>




