<div style="text-align:center">
  <form clrForm>
      <clr-input-container>
          <label>First Name</label>
          <input clrInput type="text" [(ngModel)]="userData.firstName" name="example" />
      </clr-input-container>
      <clr-input-container>
          <label>Last Name</label>
          <input clrInput type="text" [(ngModel)]="userData.lastName" name="example" />
      </clr-input-container>
      <clr-input-container>
          <label>Email</label>
          <input clrInput type="text" [(ngModel)]="userData.email" name="example" />
      </clr-input-container>
      <clr-input-container>
          <label>Password</label>
          <input clrInput type="text" [(ngModel)]="userData.password" name="example" />
      </clr-input-container>
  </form>
</div>
<br>
<div style="text-align:center">
  <button type='submit' (click)='postUser()'>Register Test</button>
</div>
<br>
<div style="text-align:center">
  <button type='submit' (click)='loginUser()'>Login Test</button>
</div>
<br>
<div style="text-align:center">
  <button type='submit' (click)='printUser()'>Console Log Creds</button>
</div>
