.login-wrapper {
    background: url("../../assets/ftse-667850.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.login-wrapper .login .login-group .btn {
    margin: 1rem 0 0;
}

.guest {
    text-align: center;
}